.chatInputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-top: 2px solid var(--colorGray3);
  position: relative;
}

.add path {
  fill: var(--colorBlue);
}

.add:hover {
  cursor: pointer;
}

.add svg {
  font-size: calc(var(--size)* 1.5);
}

.inputField {
  width: calc(100% - 70px);
  background-color: inherit;
  padding: 5px;
  resize: none;
  overflow-y: auto;
  border: none;
  outline: none;
  padding-top: 17px;
}


.sendButton {
  font-size: calc(var(--size)* 2);
}

.sendButton:hover {
  cursor: pointer;
}

.sendButton path {
  fill: var(--colorBlue);
}

.showPlus {
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 100%;
  max-height: 400px;
  min-height: 200px;
  overflow-y: auto;
  background-color: var(--colorWhite);
  border-top: 2px solid var(--colorGray3);
  transition: all 0.3s ease;
  display: none;
}

.showPlus.show {

  display: flex;
}